/* skills stylings  */
.skills {
  padding-top: 130px;
  background-color: white;
  color: black;
}
.skills .title::after {
  content: "Skills I possess";
  background-color: white;
  color: var(--secondaryColor);
}
.skills .title::before {
  background-color: black;
}